@font-face {
  font-family: Raleway;
  src: url(~@/assets/fonts/Raleway/Raleway-Medium.ttf)
}

@font-face {
  font-family: RalewayBold;
  src: url(~@/assets/fonts/Raleway/Raleway-ExtraBold.ttf)
}

@font-face {
  font-family: OpenSans;
  src: url(~@/assets/fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSansBold;
  src: url(~@/assets/fonts/OpenSans/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: Electrolize;
  src: url(~@/assets/fonts/Electrolize/Electrolize-Regular.ttf);
}