.contact {
  color: $clr3;
  height: 60vh;
  margin-bottom: 200px;
  .intro {
    font-family: Electrolize, sans-serif;
    color: $clr5;
    word-spacing: 0.2em;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
  }
  .title {
    font-family: RalewayBold, sans-serif;
    font-size: rem(60px);
    margin-bottom: 20px;
    color: $clr6;
  }
  .txt {
    text-align: center;
    max-width: 550px;
    padding: 10px;
    font-family: OpenSans, sans-serif;
    margin-bottom: 50px;
  }
  a {
    @include for-button;
  }

  @media only screen and (max-width: 410px) {
    margin-bottom: 100px;
    .title {
      font-size: rem(50px);
    }
    .txt {
      width: 100%;
    }
  }
}